<figure class="product-card">
    <img src="./images/Angular.png" alt="Face mask" class="product-card__image" />
    <figcaption class="product-card__caption">
        <header class="product-card__header">
            <h2 class="product-card__title">Angular</h2>
            <p class="product-card__subtitle">Introducción a Angular</p>
        </header>
        <footer class="product-card__footer">
            <span class="product-card__price">+10 puntos</span>
            <button class="product-card__button">
                <i class="product-card__icon ri-add-line"></i>
            </button>
        </footer>
    </figcaption>
</figure>

<div class="row">
    <div class="col">
        <img src="../images/Material.png"/>
    </div>
</div>
