#contacto-formulario {
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
#contacto-formulario .fuente .h1 {
    margin-top: 2rem;
}
#contacto-formulario .contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: rgba(160, 182, 189, 0.451);
}

span {
    color: red;
    font-size: 13px;
}