table {
    width: 100%;
}
.mat-elevation-z8 {
    background-color: #000000; /* Cambia el color de fondo de la tabla */
}

.mat-header-cell, .mat-cell {
color: #000; /* Cambia el color del texto de las celdas de la tabla */
}

.mat-header-row {
background-color: rgb(0, 0, 0); /* Cambia el color de fondo de la fila del encabezado */
}

.mat-row {
background-color: #000000; /* Cambia el color de fondo de las filas de la tabla */
}