<div class="row">
    <div class="row">
        <div class="col">
            <h1 class="text-title">
                Bienvenido al portal de Gestión de Usuarios
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="center">
                Este es un sistema diseñado para ayudarte en la administración y manejo 
                de los datos de tus estudiantes de manera efectiva y eficiente.
            </p>
            <p class="center">
                Esperamos que este programa de gestión de usuarios de alumnos te sea de gran utilidad en tus 
                labores académicas y administrativas. 
            </p>   
            <h3 class="center mt-5">
                ¡Gracias por elegir nuestro software y que tengas una 
                excelente experiencia de uso!
            </h3>
        </div>
    </div>
</div>