
<div class="container">
    <div class="row">
        <app-app-navbar></app-app-navbar>
    </div>
    <div class="row">
        <div class="col-3">
            <app-app-toolbar></app-app-toolbar>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <div class="container mt-4">
    <div class="row FM">
        <div class="col-3 C1">
            <app-app-toolbar></app-app-toolbar>
        </div>
        <div class="col C2 ps-0">
            <div class="row C2-F1">
                <app-app-navbar></app-app-navbar>
            </div>
            <div class="row C2-F2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->
